/AddButton.class
/ChangeNameButton.class
/ChangeToPastNameButton$1.class
/ChangeToPastNameButton.class
/ChooseAnotherButton.class
/ContinueRenamingButton.class
/ExitButton.class
/PhotoChooserButtonListener.class
/PhotoFileExplorer.class
/RemoveButton.class
/RenameButton.class
